BODY{
  background-image : url(back.png);
}
TABLE{
  background-color : #ccff99;
}
H1{
  font-size : 300%;
  color : #ffffff;
  background-color : #00a968;
}

UL{
  line-height : 1.5em;
  background-color : #ccff99;
}

td{
	font-size:30px;
}

